
body {
    font-family: sans-serif;
    /* padding: 60px 20px; */
}
/* @media (min-width: 600px) {
    body {
        padding: 60px;
   }
} */

.range-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.slider {
    width: calc(100% - (73px));
}

.sliderBudget {
    width: calc(100% - (73px));
}

.slider .ui-slider-handle {
    background: #85bb65;
}

.sliderContainer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.valueContainer {
    position: absolute;
    width: auto;
    right: -72px;
    top: -6px;
}



#budgetValue {
    /* color: white; */
    color: black;
    font-weight: bold;
}

#rentValue {
    /* color: white; */
    color: black;
    font-weight: bold;
}

#foodValue {
    /* color: white; */
    color: black;
    font-weight: bold;

}

#utilitiesValue {
    /* color: white; */
    color: black;
    font-weight: bold;
}



#savingsValue {
    /* color: white; */
    color: black;
    font-weight: bold;
}

#personalValue {
    /* color: white; */
    color: black;
    font-weight: bold;
}


#miscellValue {
    /* color: white; */
    color: black;
    font-weight: bold;
}



